/* clientRegistrationForm.css */

.registration-form-container {
    background-image: url("../../images/loginbackground.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;  
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.registration-form-container form {
    background-color: rgba(0, 0, 0, 0.5);  /* Background color with transparency */
    border-radius: 10px;
    border: 2px solid white;
    padding: 20px;
    color: white;
    width: 33%;
    margin: auto;
    
}

.registration-form-container .mb-3 {
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
}

.registration-form-container .form-control {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
}

.registration-form-container .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.registration-form-container .form-control.is-invalid,
.registration-form-container .form-control.is-valid {
    background-image: none;
}

.registration-form-container .btn {
    background-color: #007bff;
    color: white;
    border: none;
}

.registration-form-container .btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.registration-form-container .form-control-feedback {
    color: red;
}

/* Additional styles for dropdown */
.registration-form-container .dropdown-menu {
    background-color: rgba(255, 255, 255, 0.8);
}

.registration-form-container .dropdown-item {
    color: black;
}

.registration-form-container .dropdown-item:hover {
    background-color: rgba(0, 123, 255, 0.25);
}

.centered-form-group {
    width: 70%;
    justify-content: center;
    margin-left: 15%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.ant-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000; /* Make sure it appears above other elements */
  }
