/* General styling for the Profile page */
.mainPage {
    font-family: Arial, sans-serif;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #96B6C5;
    height: 100vh;
}

.SP-Header {
    text-align: start;
    text-decoration: underline;
    font-weight: bold;
    font-size: 2.5rem;
    color: #333;
}

.SP-Header2 {
    text-align: start;
    font-weight: normal;
    font-size: 1.5rem;
    color: #333;
}

.mainPageTitle{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 60px;
    color: #333;
}

/* Row and Column Styling */
.Row {
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.Col {
    padding: 10px;
    box-sizing: border-box;
}

/* Service Provider Info */
.ServiceProviderInfo {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;  /* Added margin-bottom */
    max-width: 700px;
    margin: auto;
}

/* Reviews */
.ReviewCarousel {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto 20px auto;  /* Adjusted margin */
    max-width: 700px;
}

/* Schedule Meeting */
.ScheduleAppointment {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    height: auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.SP-profile-section {
    border-radius: 10px;
}
