/* SearchServicePage.css */

/* Container for the entire search page */
.search-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  background-color: #96B6C5;
  min-height: 100vh;
}

  
  /* Container for the search form */
  .search-form-container {
    width: 45%;
    overflow-y: auto;
  }

  /* Container for the service provider results */ 
  .service-provider-results-container {
    width: 55%;
    overflow-y: auto;
  }
  
  
  /* Additional styles for the React Bootstrap Form */
  .Form {
    margin-top: 2%;
  }