.row-flex {
    display: flex;
    flex-direction: row;
}

.column-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.telephone-input{
    margin-top: 0px;
    width: 50%;
}

.ml{
    margin-left: 30px;
}