.profile-picture{
    size: 150px;
}

.SP-profle-row-margin {
    margin-bottom: 1rem;
}

/* Reviews */

.SP-profile-review-carusel .ant-btn {
    background-color: #007bff;
    color: white;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 4px;
    width: 120px;  
    height: 40px;  
}

.SP-profile-review-carusel .ant-btn:hover {
    background-color: #0056b3;
}

.SP-profile-review-carusel span {
    display: flex;
    font-size: 1em;
    justify-content: center;
}

.SP-profile-background {
    background-color:whitesmoke;
    padding: 1%;
    width: 100vw;
}
